table {
    border: none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;

}

table thead tr {
    border-left: 1px solid #ddd;
    border-bottom: 3px solid #ddd;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

table tbody tr {
    background-color: #FDFDFD;
    border: 1px solid #ddd;
    padding: .35em;
    cursor: pointer;
    border-width: 1px 0px 1px 0px;
}

table:not(.no-hover)>tbody>tr:hover {
    background-color: #e4e4e4;
}


table th,
table td {
    padding: .625em;
    color: #525B64;
}

table td+table td {
    width: auto;
}

table th {
    letter-spacing: 1px;
    text-transform: capitalize;

    background-color: #fafafa;
    /*var(--active-color);*/
    font-weight: 600;
    font-size: 13px;
    white-space: nowrap;
    color: #5E5E5E;
    text-align: left;


}

table td {
    color: #525B64;
    padding: 8px 15px 8px 10px;
    font-size: 13px;
    text-align: left;
}

table tr:first-child th:first-child {
    border-top-left-radius: 5px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 5px;
}

table tbody tr {
    transition: all 1s ease-in-out;
}

div.scroll {
    overflow-x: auto;
    white-space: nowrap;
}

dialog button.close{
    position: absolute;
    right: 0;
    top: 0;
}

dialog .modalbody{
    margin-top: 15px;
}

div.user{
    margin-top: 10px;
    margin-bottom: 10px;
}

div.user label{
    display: block;
}

div.container{
    display: inline-block;
    width: 50%;
    margin: 0;

    
}